@import "tailwindcss";
body {
  background: #ffffff;
}

.signIn {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: clamp(10px, 0.9vw, 15px);
}

.image-section {
  flex: 1;
  height: 96vh;
  border-radius: 25px;
  background-image: url("images/signIn.png");
  background-size: cover;
  background-position: center;
}

.sign-up {
  flex: 1;
  height: 96vh;
  border-radius: 25px;
  background-image: url("images/signUp.png");
  background-size: cover;
  background-position: center;
}
